<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{posicion}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}} - {{destino.imagenUrl}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'">{{s}}</i>
                    <b *ngSwitchDefault>{{s}}</b>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Ir!</a>
        <span *ngIf="destino.isSelected()" >- PREFERIDO -</span>
        <span ngNonBindable>{{noSoyUnaVariable}}</span>
        <a [routerLink]="['/destino', destino.id]">Ver!</a>
    </div>
</div>