<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{posicion}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}} - {{destino.imagenUrl}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'">{{s}}</i>
                    <b *ngSwitchDefault>{{s}}</b>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item" name="thumb_up">
                <i class="material-icons md-18">thumb_up</i>
            </a>&nbsp;
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item" name="thumb_down">
                    <i class="material-icons md-18">thumb_down</i>
            </a>&nbsp;
            <span name="detinoVotes">{{destino.votes}}</span>
        </div>
        <a href="#" class="btn-card" (click)="ir()" 
            appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item"
        >Ir!</a>
        <span *ngIf="destino.isSelected()" >- PREFERIDO -</span>
        <span ngNonBindable>{{noSoyUnaVariable}}</span>
        <a [routerLink]="['/destino', destino.id]">Ver!</a>
    </div>
</div>